@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';

html {
  font-size: $mainFontSize;
}
.active {
  border: 1px solid red;
}



h1 {
  color: salmon;
  font-size: rem(32);
  font-family: Nordic;
}


.gallery {
  width: 860px;
  margin: 0 auto;
  text-align: center;
  .photos {
    height: 640px;
    position: relative;
    img {
      width: 100%;
      height: 400px;
      position: absolute;
      opacity: 0;
      left: 0;
      transition: all 0.7s ease;
    }
    .showed {
    opacity: 1;
    }
  }
}



















// ЗАПРЕТ ПЕРЕТАСКИВАТЬ ФОТОГРАФИИ И СОХРАНЯТЬ ИХ 
// .gallery img {
//   width: 400px;
// }



// РАБОЧИЙ КАЛЬКУЛЯТОР
// .calculator {
//   display: flex;
//   flex-direction: column;
//   .sum {
//     width: 500px;
//     margin-bottom: 1rem;
//   }
//   .sub {
//     width: 500px;
//     margin-bottom: 1rem;
//   }
//   .multi {
//     margin-bottom: 1rem;
//     width: 500px;
//   }
//   .division {
//     width: 500px;
//   }
// }






// ПЕРВОЕ ЗАДАНИЕ С ПОДЦЕТКОЙ КАРТОЧЕК ТОВАРА И СУММОЙ НАБРАННЫХ ТОВАРОВ


// .items {
//   display: flex;
//   .item {
//     @include size (200px);
//     background: #eee;
//     margin: 20px;
//     box-sizing: border-box;
//   }
// }
